<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link href="http://localhost:8889/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>	
	<ul class='top_wrap' class="navbar navbar-default navbar-fixed-top">
		<li><a href="/adminauth/myhome">首页</a></li>
		<li><a href="/adminauth/login">登录</a></li>
		<li><a href="/adminauth/user_admin">用户列表</a></li>
		<li><a href="/adminauth/home" class="active">游记管理</a></li>
		<li><a href="/adminauth/comments">评论管理</a></li>
	</ul>
</body>
</html>